/* header styling */

header {
  width: 90%;
  color: #3594cb;
  margin-left: 5%;
  margin-bottom: 4em;
  /*display: block;*/
}

h3, h1 {
  text-align: left;
  position: relative;
  /*display: block;*/
}

nav {
  text-align: right;
  display: block;
  position: relative;
  padding-right: 3em;
}
/*section. Having the ul wrapped in section means that I can set the
padding/margin/whatever to hold all of the ul in to where I want it. Yessss*/
section {
  width: 90%;
  /*border: 1px solid red;*/
  /*background-color: blue;*/
  margin-left: 5%;
}

/* ul Styling */

ul {
  margin: 2em 0 2em 0;
  padding: 0 2em 0 0;
  /*border: 1px solid green;*/
  /*background-color: red;*/
  display: inline-block;
}

/* li styling */

li {
  background-color: #6cbfee;
  color: white;
  border-radius: 5px;
  margin-left: 5%;
  padding: 1em;
  display: inline-block;
  margin-bottom: 1em;
}

.meatheader {
  border-bottom: 0.5px solid white;
  margin-bottom: 1em;
  text-align: left;
  padding-left: -1em;
  margin-left: 1em;
}

#odd {
  background-color: #6cbfee;
}

#even {
  background-color: #3594cb;
}

h2 {
  color: #fff;
}

.datetime {
  display: inline-block;;
  margin-left: 3em;
  position: absolute;
}

.datetime span:first-child{
  font-size: .75em;
  color: #bdd0db;
  text-align: right;
  padding-left: 25px;
}

.datetime span:last-child {
  font-size: 1.5em;
  color: #6cbfee;
  text-align: right;
}

/* p styling */

p {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-left: 1em;
}

/*the line*/

.border {
  border-left: 0.7em solid #afdcf8;
  margin-left: 8em;
  padding-left: 0.08;
}

.icon {
  font-size: 2em;
  border: 0.3em solid #afdcf8;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  margin-left: -1.09em;
  background-color: #3594cb;
  color: white;
  position: absolute;
  margin-top: -0.1em;
}

/* the triangle */
