
/* body styling */

/* header styling */

/* ul Styling */

ul {

}

/* li styling */
li {

}

.datetime {
  display: block;
  border: 1px solid blue;
}

.datetime span {
  border: 1px solid red;
}

/* p styling */

p {

}
